<!DOCTYPE html>
<html>
<head>
  <title>My hairstyle</title>
  <link rel="stylesheet" type="text/css" href="Style.css">
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY"></script>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
  <header class="head">
    <div class="search">
      <input type="text" class="search-input" placeholder="find your cut"/>
    </div>
    <div class="logo">
      <img src="lo.png" alt="">
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-elements"><a href="">Home</a></li>
        <li class="nav-elements"><a href="">SUBMIT YOUR CUT</a></li>
        <li class="nav-elements"><a href="">CONTACT</a></li>
        {{#if !logged_in}}
        <li class="nav-elements"><a href="">SIGN IN</a></li>
        {{else}}
        <li class="nav-elements"><a href="">Profile</a></li>
        {{/if}}
        {{#if logged_in}}
        <li class="nav-elements"><a href="">LogOut</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/js/hairystyles.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&libraries=places&v=weekly" defer></script>
</body>

</html>
