<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hairy Styles</title>
  <link rel="stylesheet" href="/css/hairystyles.css">

</head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
 <header class="head">
    <div class="search">
      <input type="text" class="search-input" placeholder="find your cut"/>
    </div>
    <div class="logo">
      <img src="/images/lo.png" alt="">
    </div>
    <nav class="nav">
      <ul>
        <li class="nav-elements"><a href="/">Home</a></li>
        <li class="nav-elements"><a href="/newPost">SUBMIT YOUR CUT</a></li>
        <li class="nav-elements"><a href="/contacts">CONTACTS</a></li>
        {{#if logged_in}}
        <li class="nav-elements"><a href="/profile">Profile</a></li>
        <li class="nav-elements" id="logout"><a href="/">LogOut</a></li>
        {{else}}
        <li class="nav-elements"><a href="/login">SIGN IN</a></li>
        {{/if}}
      </ul>
    </nav>
  </header>
  <main class="">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>    
    </footer>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="/js/hairystyles.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap&libraries=places&v=weekly" defer></script>
</body>

</html>