<h2>Contacts</h2>
<div>
    <h3>Creators of the "Hairy Styles" site:</h3>

    <p>Maartje Oostvogels | <a href="https://github.com/maartjeoostvogels">GitHub</a></p>
    <p>Vasco Miguens | <a href="https://github.com/VascoMiguens">GitHub</a></p>
    <p>Ahmed Amar | <a href="https://github.com/amarfiguig">GitHub</a></p>
    <p>Sarah La Grue | <a href="https://github.com/enigmawoman">GitHub</a></p>

    <p>Reachout: getthecut@hairystyles.com</p>
</div>