<h1>Let's Have A Chat!</h1>
<div class="contact">
    <p>Maartje Oostvogels | <a href="https://github.com/maartjeoostvogels">GitHub</a></p>
    <p>Vasco Miguens | <a href="https://github.com/VascoMiguens">GitHub</a></p>
    <p>Ahmed Amar | <a href="https://github.com/amarfiguig">GitHub</a></p>
    <p>Sarah La Grue | <a href="https://github.com/enigmawoman">GitHub</a></p>

    <a href="mailto:getthecut@hairystyles.com" >Reach Out!</a>
</div>