<div id="map"></div>
<label for="search">Search</label>
<input type="text" name="search" id="search" placeholder="Enter a hairdresser or salon name" />
<button id="searchButton">Search</button>
<br>
<p>
    Example hairdressers in Leamington Spa: Toni & Guy, Geiko, Indigo Hair, The Spa
</p>

<form action="/" method="POST" enctype="multipart/form-data">
<h3>Upload Profile Photo</h3>
<input type="file" name="sampleFile" accpet="image/*"/>

<label for="tags">Tags</label>
<textarea name="tags" id="tags" placeholder="#pixie, #bob"></textarea>

<!-- Hairdresser data populated from Google Places API result -->
<input type="hidden" name="hairdresserPlaceId" id="hairdresserPlaceId" />
<input type="hidden" name="hairdresserName" id="hairdresserName" />
<input type="hidden" name="hairdresserLocation" id="hairdresserLocation" />
<!-- End Hairdresser data -->

<input type="submit" class="">
</form>