{{!-- <section id="homepage">

    <label for="search">Search</label>
    <input type="text" id="search" placeholder="Enter a haircut or style" />
    <button id="searchButton">Search</button>

    <!-- Google map -->
    <div id="map"></div>

</section> --}}

{{#if posts.length}}
<div>
    <h3>{{format_plural "Post" posts.length}}</h3>
    {{#each posts as |post|}}
    <div>
        <div>
            <img src="{{post.image_name}}" alt="image uploaded by user" class="something" />
            <p>{{body}}</p>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}