<section id="homepage">

    <label for="search">Search</label>
    <input type="text" id="search" placeholder="Enter a haircut or style" />
    <button id="searchButton">Search</button>

    <!-- Google map -->
    <div id="map"></div>

</section>