<div class="new-post">
    <h3>Create New Post</h3>
    <form class="post-form" enctype="multipart/form-data">
        <input type="file" id="image-input" name="image">
        
        {{!-- <textarea placeholder="Content" class="form-content" rows="20"></textarea> --}}
        <button class="btn">Add Post</button>
    </form>
</div>