<div>
  <div>
    <h1>Welcome, {{name}}</h1>
  {{#if posts.length}}
  <div>
    <h3>{{format_plural "Post" posts.length}}</h3>
    {{#each posts as |post|}}
    <div>
      <div>
        <img src="{{post.image_name}}" alt="image uploaded by user" class="something"/>
        <p>{{body}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<button>New Post</button>

<script src="./js/profile.js"></script>
