{{> post-partial post=post}}

<h3>Comments</h3>
<div class="comments">
  {{#each post.comments}}
  <div class="each-comment">
    <p>{{user_comment}}</p>
    <div id="postby">{{user.name}} - {{format_date createdAt}}</div>
  </div>
  {{/each}}
</div>
<script src="../js/single-post.js"></script>

{{#if logged_in}}

<form class="form new-project-form">
  <div class="single-post">
    <label for="project-desc">comment:</label>
    <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Comment Now</button>
  </div>
  <div>
    {{else}}
    <h3>You must be <a class="link" href="/login">logged in</a> to comment</h3>

    {{/if}}
  </div>
</form>

