
{{> post-partial post=post}}
<div class="comments">
    <h2>Comments</h2>
    {{#each post.comments}}
    <div class="comment">
        <p>{{user_comment}}</p>
        <p>By: {{user.name}} {{format_date createdAt}}</p>

    </div>
    {{/each}}
</div>