
{{> post-partial post=post}}

 {{#if logged_in}}
    <form class="form new-project-form">
      <div>
            <label for="project-desc">comment:</label>
            <textarea class="form-input" id="comment-desc" name="comment-desc"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Comment Now</button>
          </div>
          <div>
          {{else}}
          <p>You must be logged in to comment:</p>
          <a href="/login">login</a>
          {{/if}}
        </div>
    </form>
    
<div class="comments">
    <h2>Comments</h2>
    {{#each post.comments}}
    <div class="comment">
        <p>{{user_comment}}</p>
        <p>By: {{user.name}} {{format_date createdAt}}</p>

    </div>
    {{/each}}
</div>
<script src="../js/single-post.js"></script>