:root {
  --orange1: #e44d55b6;
  --orange2: #f4a449af;
}

body {

  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  line-height: 1.5;
  margin: 1px;
  background: url(../images/background.png) no-repeat;
  background-size: 100% 100%;
  background-position-y: center;
  background-attachment: fixed;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 100px;
  text-align: center;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.header-inner {
  background: linear-gradient(-45deg, var(--orange1), var(--orange2));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  min-width: 200px;
}

header nav {
  text-transform: uppercase;
}

header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 1.25em;
}

@media (min-width: 600px) {
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
  }

  header nav ul li:nth-child(2) {
    margin-left: auto;
  }
}

header nav ul li {
  margin: 0;
}

header nav ul li select {
  background-color: white;
  color: var(--orange1);
  border: 1em;
  width: 200px;
  height: 24px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
}

header nav ul li select::after {
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

button {
  text-transform: uppercase;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  border-style: solid;
  color: white;
  background-color: var(--orange1);
  font-weight: bolder;
  border-color: white;
  border-radius: 5px;
}

Button:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  height: 100px;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
}

.form div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#map {
  margin: auto;
  width: 92%;
  height: 250px;
}

.homepage-post-container {
  background-color: var(--mid-2);
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10px;
  padding: 10px;
}

.homepage-posts {
  flex: 4;
  /*flex grow of 4*/
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.each-hp-post {
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 10px;
  padding: 10px;
  margin: 8px;
  flex: 0 0 300px;
  max-width: 400px;
  color: black;
  text-decoration: none;
}

.hair-image {
  margin: auto;
  margin-bottom: 20px;
  width: 250px;
  height: 200px;
  object-fit: cover;
  /*images to fit the given dimension keeping aspect ratio*/
  overflow: hidden;
  justify-content: center;
}

.scroller {
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scrollbar-color: var(--orange2);
  scrollbar-width: thin;
}